body {
    color: red;
    background-color: skyblue;
    background-size: cover;
}

body header {
    text-align: center;
    font-size: 38px;
    font-style: italic;
    font-weight: bold;
}

.logo {
        font-size: 40px;
        margin-left: 10px;
        font-weight: bold;
        position: relative;
        top: -5px;
}