body {
    color: red;
    background-color:skyblue;
    background-size: cover;
}

/*img {*/
/*    width: auto;*/
/*}*/

/*.logo{*/
/*    font-size: 40px;*/
/*    margin-left: 10px;*/
/*    font-weight: bold;*/
/*    position: relative;*/
/*    top: -5px;*/
}