{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'menu/css/menu.css'%}">
</head>
<body>
    <header><i><h1><big>Messina restaurant </big></h1></i></header>
    <a href="/"><button class="btn btn-warning">Home</button></a>
    <img src="{% static 'menu/img/main.jpg' %}" alt="logo">
    <h1>Menu</h1>
    <ul>
        <li><i><a href="first_course/" title= "first course " ><h2>First course</h2></a></i></li>
        <li><i><a href="second_course/" title= "second course " ><h2>Second course</h2></a></i></li>
        <li><i><a href="sweets/" title= "sweets" ><h2>Sweets</h2></a></i></li>
        <li><i><a href="garnish/" title= "garnish"  ><h2>Garnish</h2></a></i></li>
        <li><i><a href="beverages/" title= "beverages" ><h2>Beverages</h2></a></i></li>
        <li><i><a href="snacks/" title= "snacks" ><h2>Snacks</h2></a></i></li>
    </ul>
</body>
</html>